/* CSS VARIABLE  */
:root {
  --color-white: #ffffff;
  --color-black: #030303;
  --color-dark-blue: #0754a1;
  --color-blue: #0195fe;
  --color-light-blue: #b4e1ff;
  --color-green: #00c406;
  --color-red: #fd4946;
  --color-pink: #ffc4b6;
  --color-light-gray: #f7f7f7;
  --color-gray: #9fa2a8;
}
/* CSS BASIC  */
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter";
}

select {
  appearance: none;
  outline: none;
  background-color: transparent;
  border: solid 1px var(--color-dark-gray);
  cursor: pointer;
  transition: all 0.3s ease;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: var(--color-gray);
}

th,
td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: var(--color-light-gray);
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: var(--color-light-gray);
}

/* TYPOGRAPHY  */
.text-center {
  text-align: center;
}

.text-white {
  color: var(--color-white);
}
.text-red {
  color: var(--color-red);
}

/* CSS LAYOUT  */

.container {
  max-width: 1024px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}

.w-full {
  width: 100%;
}

.gap-2 {
  gap: 8px;
}
.gap-5 {
  gap: 20px;
}

/* COMPONENTS  */
.btn-add {
  border: none;
  outline: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border-radius: 9999px;
  padding: 12px 20px;
}

.btn-edit {
  border: none;
  outline: none;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border-radius: 9999px;
  padding: 10px 20px;
}

.btn-delete {
  border: none;
  outline: none;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border-radius: 9999px;
  padding: 10px 20px;
}

.input-default {
  outline: none;
  border: none;
  border: var(--color-gray) solid 1px;
  border-radius: 9999px;
  padding: 11px 20px;
}

.completed {
  background-color: var(--color-green);
  color: var(--color-white);
  text-align: center;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 5px 10px;
}

.incomplete {
  background-color: var(--color-red);
  color: var(--color-white);
  text-align: center;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 5px 10px;
}

.high-priority {
  color: var(--color-red);
  text-align: center;
  border: solid var(--color-red) 1px;
  outline: none;
  font-weight: 600;
  padding: 5px 10px;
}

.medium-priority {
  color: var(--color-blue);
  text-align: center;
  border: solid var(--color-blue) 1px;
  outline: none;
  font-weight: 600;
  padding: 5px 10px;
}

.low-priority {
  color: var(--color-dark-blue);
  text-align: center;
  border: solid var(--color-dark-blue) 1px;
  outline: none;
  font-weight: 600;
  padding: 5px 10px;
}
.modal-delete {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transition-duration: 300;
}

.modal-delete-content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  transition: all 0.5s ease-in-out;
}

.modal-edit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transition-duration: 300;
}

.modal-edit-content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  transition: all 0.5s ease-in-out;
}

.modal-error {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transition-duration: 300;
}

.modal-error-content {
  background-color: var(--color-white);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  transition: all 0.5s ease-in-out;
}

/* UTILITIES  */

.bg-red {
  background-color: var(--color-red);
}

.bg-gray {
  background-color: var(--color-gray);
}

.mt-5 {
  margin-top: 20px;
}

.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.border-1 {
  border: solid 1px var(--color-gray);
}

.rounded-sm {
  border-radius: 8px;
}
